<h1> Admin Dashboard </h1>
<table class="table">
  <tr>
    <td>Products count</td>
    <td><%= @productCount %></td>
    <td><%= link_to 'Take me to Products!', [:admin, :products] %></td>
  </tr>
  <br/>
  <tr>
    <td>Categories count</td>
    <td><%= @categoryCount %></td>
    <td><%= link_to 'Take me to Categories!', :root %></td>
  </tr>
</table>